{{ define "head" }}
{{ $desc := partial "description.html" . }}
{{ $person := dict
  "@context" "https://schema.org"
  "@type" "Person"
  "name" .Site.Params.author
  "email" .Site.Params.email
  "url" .Site.Home.Permalink
}}
{{ $website := dict
  "@context" "https://schema.org"
  "@type" "WebSite"
  "name" .Site.Title
  "url" .Site.Home.Permalink
  "description" $desc
  "inLanguage" (.Site.LanguageCode | default "en")
  "author" (dict "@type" "Person" "name" .Site.Params.author)
}}
<script type="application/ld+json">{{ $website | jsonify (dict "indent" "  ") | safeJS }}</script>
<script type="application/ld+json">{{ $person | jsonify (dict "indent" "  ") | safeJS }}</script>
{{ end }}

{{ define "main" }}
<main id="main">
  <div class="homepage-content">{{ .Content }}</div>
</main>
{{ end }}
