name: deploy

on:
  workflow_dispatch: null
  push:
    branches: [main]
  schedule:
    - cron: "25 15 * * *"

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: pages
  cancel-in-progress: false

defaults:
  run:
    shell: bash

jobs:
  build:
    if: github.repository == 'philoserf/site'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          submodules: true
      - uses: actions/configure-pages@v5
        id: pages
      - uses: peaceiris/actions-hugo@v3
        with:
          extended: true
      - run: hugo --gc --minify
      - uses: actions/upload-pages-artifact@v4
        with:
          path: ./public

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - uses: actions/deploy-pages@v4
        id: deployment
